body{
    background-color: #f7ccb8;
    font-family: 'Quicksand', sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#foto{
    width: 25%;
    height: auto;
}

.conteudo{
    text-align: center;
    font-weight: bolder;
}

a:link{
    text-decoration: none;
    text-align: center;
    color: rgb(116, 2, 2);
}

a:hover{
    color: #727070
}

table{
    border: solid;
    border-radius: 5px;
}

tr{
    width: 50%;
}


